[Desktop Entry]
Type=Service
Name=MP3 Info
Name[cs]=MP3 info
Name[de]=MP3-Info
Name[el]=Πληροφορίες MP3
Name[et]=MP3 teave
Name[ga]=Eolas MP3
Name[gl]=Información MP3
Name[nb]=MP3 informasjon
Name[nds]=MP3-Info
Name[nl]=MP3-informatie
Name[nn]=MP3-info
Name[pa]=MP3 ਜਾਣਕਾਰੀ
Name[pl]=Informacje o MP3
Name[pt]=Informação do MP3
Name[pt_BR]=Informações MP3
Name[se]=MP3-dieđut
Name[sk]=MP3 info
Name[sv]=MP3-information
Name[uk]=Інформація щодо MP3
Name[x-test]=xxMP3 Infoxx
Name[zh_CN]=MP3 信息
Name[zh_TW]=MP3 資訊
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_mp3
MimeType=audio/mpeg;
PreferredGroups=id3,Technical
PreferredItems=Title,Artist,Album,Tracknumber,Genre,Bitrate,Length,Date,Comment,Sample Rate,Channels,Version,Layer,Copyright,Original,CRC
