[Desktop Entry]
Type=Service
Name=MP3 Info
Name[af]=Mp3 Inligting
Name[ar]=معلومات MP3
Name[bg]=Информация за MP3
Name[bn]=এম-পি-৩ (MP3) তথ্য
Name[br]=Titouroù MP3
Name[bs]=MP3 informacije
Name[ca]=Informació MP3
Name[cs]=MP3 info
Name[cy]=Gwybodaeth MP3
Name[da]=MP3-info
Name[de]=MP3-Info
Name[el]=Πληροφορίες MP3
Name[eo]=MP3-informo
Name[es]=Info MP3
Name[et]=MP3 info
Name[eu]=MP3 informazioa
Name[fa]=اطلاعات MP3
Name[fi]=MP3-tiedot
Name[fr]=Informations Mpeg3
Name[gl]=Información MP3
Name[he]=מידע MP3
Name[hi]=MP3 जानकारी
Name[hr]=Informacije o MP3 datoteci
Name[hu]=MP3-jellemzők
Name[is]=MP3 upplýsingar
Name[it]=Informazioni MP3
Name[ja]=MP3 情報
Name[kk]=MP3 мәліметі
Name[km]=ព័ត៌មាន MP3
Name[ko]=MP3 정보
Name[lt]=MP3 informacija
Name[mk]=MP3 информации
Name[nb]=MP3 informasjon
Name[nds]=MP3-Info
Name[ne]=MP3 सूचना
Name[nl]=MP3-informatie
Name[nn]=MP3-info
Name[pa]=MP3 ਜਾਣਕਾਰੀ
Name[pl]=Informacja o pliku MP3
Name[pt]=Informação do MP3
Name[pt_BR]=Informações sobre MP3 
Name[ro]=Informaţii MP3
Name[ru]=Сведения о MP3
Name[rw]=Amakuru MP3
Name[se]=MP3-dieđut
Name[sl]=Podatki o MP3
Name[sr]=Информације о MP3-ју
Name[sr@Latn]=Informacije o MP3-ju
Name[sv]=MP3-information
Name[ta]=MP3 தகவல்
Name[tg]=MP3 Ахборот
Name[th]=ข้อมูล MP3
Name[tr]=MP3 Bilgisi
Name[uk]=Інформація по MP3
Name[uz]=MP3 haqida maʼlumot
Name[uz@cyrillic]=MP3 ҳақида маълумот
Name[wa]=Infôrmåcion MP3
Name[xh]=MP3 ulwazi
Name[zh_CN]=MP3 信息
Name[zh_HK]=MP3 資訊
Name[zh_TW]=MP3 資訊
Name[zu]=Ulwazi lwe-MP3 
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_mp3
MimeType=audio/x-mp3
PreferredGroups=id3,Technical
PreferredItems=Title,Artist,Album,Tracknumber,Genre,Bitrate,Length,Date,Comment,Sample Rate,Channels,Version,Layer,Copyright,Original,CRC
