[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=AU Info
Name[af]=Au Inligting
Name[bg]=Информация за AU
Name[ca]=Informació AU
Name[cs]=AU info
Name[cy]=Gwybodaeth AU
Name[da]=AU-info
Name[de]=AU-Info
Name[el]=Πληροφορίες AU
Name[eo]=AU-informo
Name[es]=Info AU
Name[et]=AU info
Name[fi]=AU-tiedot
Name[fr]=Informations AU
Name[gl]=Información AU
Name[he]=מידע AU
Name[hi]=AU इन्फो
Name[hr]=AU Informacije
Name[hu]=AU-jellemzők
Name[is]=AU upplýsingar
Name[it]=Informazioni AU
Name[ja]=AU情報
Name[lt]=AU informacija
Name[mk]=AU Информации
Name[nb]=AU informasjon
Name[nl]=AU-info
Name[nn]=AU-info
Name[pl]=Informacja o pliku AU
Name[pt]=Informação do AU
Name[pt_BR]=Informação sobre AU
Name[ro]=Informaţii AU
Name[ru]=Сведения об AU
Name[se]=AU-dieđut
Name[sk]=AU info
Name[sl]=Informacije o AU
Name[sr]=Информације о AU-у
Name[sr@Latn]=Informacije o AU-u
Name[sv]=AU-information
Name[ta]=AU தகவல்
Name[tg]=AU Ахборот
Name[tr]=AU Bilgisi
Name[uk]=Інформація по AU
Name[uz]=XBM ҳақида маълумот
Name[xh]=Ulwazi lwe AU
Name[xx]=xxAU Infoxx
Name[zh_CN]=AU 信息
Name[zh_TW]=AU 資訊
Name[zu]=Ulwazi lwe-AU
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_au
MimeType=audio/basic
PreferredGrous=Technical
PreferredItems=Length,Sample Rate,Channels,Encoding
