[Desktop Entry]
Type=Service
Name=AU Info
Name[af]=Au Inligting
Name[bg]=Информация за AU
Name[br]=Titouroù AU
Name[bs]=AU informacije
Name[ca]=Informació AU
Name[cs]=AU info
Name[cy]=Gwybodaeth AU
Name[da]=AU-info
Name[de]=AU-Info
Name[el]=Πληροφορίες AU
Name[eo]=AU-informo
Name[es]=Info AU
Name[et]=AU info
Name[eu]=AU informazioa
Name[fa]=اطلاعات AU
Name[fi]=AU-tiedot
Name[fr]=Informations AU
Name[gl]=Información AU
Name[he]=מידע AU
Name[hi]=AU जानकारी
Name[hr]=AU Informacije
Name[hu]=AU-jellemzők
Name[is]=AU upplýsingar
Name[it]=Informazioni AU
Name[ja]=AU 情報
Name[kk]=AU мәліметі
Name[km]=ព័ត៌មាន AU
Name[ko]=AU 정보
Name[lt]=AU informacija
Name[mk]=AU информации
Name[nb]=AU informasjon
Name[nds]=AU-Info
Name[ne]=AU सूचना
Name[nl]=AU-informatie
Name[nn]=AU-info
Name[pa]=AU ਜਾਣਕਾਰੀ
Name[pl]=Informacja o pliku AU
Name[pt]=Informação do AU
Name[pt_BR]=Informação sobre AU
Name[ro]=Informaţii AU
Name[ru]=Сведения о AU
Name[se]=AU-dieđut
Name[sk]=AU info
Name[sl]=Podatki o AU
Name[sr]=Информације о AU-у
Name[sr@Latn]=Informacije o AU-u
Name[sv]=AU-information
Name[ta]=AU தகவல்
Name[tg]=AU Ахборот
Name[th]=ข้อมูล AU
Name[tr]=AU Bilgisi
Name[uk]=Інформація по AU
Name[uz]=XBM haqida maʼlumot
Name[uz@cyrillic]=XBM ҳақида маълумот
Name[xh]=Ulwazi lwe AU
Name[zh_CN]=AU 信息
Name[zh_HK]=AU 資訊
Name[zh_TW]=AU 資訊
Name[zu]=Ulwazi lwe-AU
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_au
MimeType=audio/basic
PreferredGrous=Technical
PreferredItems=Length,Sample Rate,Channels,Encoding
