[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=AU Info
Name[fr]=Informations AU
Name[x-test]=xxAU Infoxx
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_au
MimeType=audio/basic
PreferredGrous=Technical
PreferredItems=Length,Sample Rate,Channels,Encoding
