[Desktop Entry]
Type=Service
Name=Musepack Info
Name[bg]=Информация за Musepack
Name[br]=Titouroù Musepack
Name[bs]=Musepack informacije
Name[ca]=Informació Musepack
Name[cs]=Musepack info
Name[de]=Musepack-Info
Name[el]=Πληροφορίες Musepack
Name[eo]=epack-informo
Name[es]=Info Musepack
Name[et]=Musepacki info
Name[eu]=Musepack informazioa
Name[fa]=اطلاعات Musepack
Name[fi]=Musepack-tiedot
Name[fr]=Informations Musepack
Name[ga]=Eolas faoi Musepack
Name[gl]=Información Musepack
Name[he]=מידע Musepack
Name[hu]=Musepack-jellemzők
Name[is]=Musepack upplýsingar
Name[it]=Informazioni Musepack
Name[ja]=Musepack 情報
Name[kk]=Musepack мәліметі
Name[km]=ព័ត៌មាន Musepack
Name[ko]=Musepack 정보
Name[lt]=Musepack informacija
Name[mk]=Musepack информации
Name[nb]=Musepack-info
Name[nds]=Musepack-Info
Name[ne]=म्युजप्याक सूचना
Name[nl]=Musepack-informatie
Name[nn]=Musepack-info
Name[pa]=Musepack ਜਾਣਕਾਰੀ
Name[pl]=Informacja Musepack
Name[pt]=Informação do Musepack
Name[pt_BR]=Informações sobre Musepack
Name[ro]=Informaţii Musepack
Name[ru]=Сведения о Musepack
Name[sl]=Podatki o Musepack
Name[sr]=Информације о Musepack-у
Name[sr@Latn]=Informacije o Musepack-u
Name[sv]=Musepack-information
Name[ta]=MP3 தகவல்
Name[th]=ข้อมูล Musepack
Name[tr]=MusePack Bilgisi
Name[uk]=Інформація по Musepack
Name[zh_CN]=Musepack 信息
Name[zh_HK]=Musepack 資訊
Name[zh_TW]=Musepack 資訊
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_mpc
MimeType=audio/x-musepack
PreferredGroups=Comment,Technical
PreferredItems=Title,Artist,Album,Tracknumber,Genre,Bitrate,Length,Channels, Date,Description,Organization,Location,Copyright
