[Desktop Entry]
Type=Service
Name=Musepack Info
Name[ar]=معلومات Musepack
Name[ast]=Información de Musepack
Name[bg]=Информация за Musepack
Name[br]=Titouroù Musepack
Name[bs]=Podaci o Musepack
Name[ca]=Informació Musepack
Name[ca@valencia]=Informació Musepack
Name[cs]=Musepack info
Name[da]=Musepack Info
Name[de]=Musepack-Info
Name[el]=Πληροφορίες Musepack
Name[en_GB]=Musepack Info
Name[eo]=Musepack informo
Name[es]=Información de Musepack
Name[et]=Musepacki info
Name[eu]=Musepack informazioa
Name[fa]=اطلاعات Musepack
Name[fi]=Musepack-tiedot
Name[fr]=Informations Musepack
Name[ga]=Eolas faoi Musepack
Name[gl]=Información Musepack
Name[he]=מידע Musepack
Name[hi]=म्यूज़पैक जानकारी
Name[hne]=म्यूजपैक जानकारी
Name[hr]=Musepack Info
Name[hu]=Musepack-jellemzők
Name[is]=Musepack upplýsingar
Name[it]=Informazioni Musepack
Name[ja]=Musepack 情報
Name[kk]=Musepack мәліметі
Name[km]=ព័ត៌មាន Musepack
Name[ko]=Musepack 정보
Name[ku]=Agahiya Musepack
Name[lt]=Musepack informacija
Name[lv]=Musepack informācija
Name[mk]=Musepack информации
Name[nb]=Musepack-info
Name[nds]=Musepack-Info
Name[ne]=म्युजप्याक सूचना
Name[nl]=Musepack-informatie
Name[nn]=Musepack-info
Name[pa]=Musepack ਜਾਣਕਾਰੀ
Name[pl]=Informacja Musepack
Name[pt]=Informação do Musepack
Name[pt_BR]=Informações Musepack
Name[ro]=Informații Musepack
Name[ru]=Сведения о Musepack
Name[sk]=Musepack info
Name[sl]=Podatki o Musepack
Name[sr]=Подаци о мјузпаку
Name[sr@ijekavian]=Подаци о мјузпаку
Name[sr@ijekavianlatin]=Podaci o Musepacku
Name[sr@latin]=Podaci o Musepacku
Name[sv]=Musepack-information
Name[ta]=MP3 தகவல்
Name[th]=ข้อมูล Musepack
Name[tr]=Musepack Bilgisi
Name[uk]=Інформація по Musepack
Name[wa]=Informåcions Musepack
Name[x-test]=xxMusepack Infoxx
Name[zh_CN]=Musepack 信息
Name[zh_HK]=Musepack 資訊
Name[zh_TW]=Musepack 資訊
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_mpc
MimeType=audio/x-musepack;
PreferredGroups=Comment,Technical
PreferredItems=Title,Artist,Album,Tracknumber,Genre,Bitrate,Length,Channels, Date,Description,Organization,Location,Copyright
