[Desktop Entry]
Type=Service
Name=Musepack Info
Name[ca]=Informació Musepack
Name[cs]=Musepack info
Name[da]=Musepack-info
Name[de]=Musepack-Info
Name[el]=Πληροφορίες Musepack
Name[et]=Musepacki teave
Name[fi]=Musepack-tiedot
Name[fr]=Informations Musepack
Name[ga]=Eolas faoi Musepack
Name[gl]=Información Musepack
Name[hu]=Musepack információ
Name[it]=Informazioni Musepack
Name[nb]=Musepack-info
Name[nds]=Musepack-Info
Name[nl]=Musepack-informatie
Name[nn]=Musepack-info
Name[pa]=Musepack ਜਾਣਕਾਰੀ
Name[pl]=Informacje o Musepack
Name[pt]=Informação do Musepack
Name[pt_BR]=Informações Musepack
Name[sk]=Musepack info
Name[sv]=Musepack-information
Name[tr]=Musepack Bilgileri
Name[uk]=Інформація щодо Musepack
Name[x-test]=xxMusepack Infoxx
Name[zh_CN]=Musepack 信息
Name[zh_TW]=Musepack 資訊
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_mpc
MimeType=audio/x-musepack;
PreferredGroups=Comment,Technical
PreferredItems=Title,Artist,Album,Tracknumber,Genre,Bitrate,Length,Channels, Date,Description,Organization,Location,Copyright
