[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=SID Info
Name[fr]=Informations SID
Name[x-test]=xxSID Infoxx
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_sid
MimeType=audio/prs.sid
PreferredGroups=General,Technical
PreferredItems=Title,Artist,Copyright,Number of Songs,Start Song,Version
