[Desktop Entry]
Type=Service
Name=SID Info
Name[ar]=معلومات SID
Name[ast]=Información de SID
Name[bg]=Информация за SID
Name[br]=Titouroù SID
Name[bs]=Podaci o SID‑u
Name[ca]=Informació SID
Name[ca@valencia]=Informació SID
Name[cs]=SID info
Name[cy]=Gwybodaeth SID
Name[da]=SID-info
Name[de]=SID-Info
Name[el]=Πληροφορίες SID
Name[en_GB]=SID Info
Name[eo]=SID informo
Name[es]=Información de SID
Name[et]=SID info
Name[eu]=SID informazioa
Name[fa]=اطلاعات SID
Name[fi]=SID-tiedot
Name[fr]=Informations SID
Name[ga]=Eolas faoi SID
Name[gl]=Información SID
Name[he]=מידע SID
Name[hi]=सिड जानकारी
Name[hne]=सिड जानकारी
Name[hr]=SID Info
Name[hu]=SID-jellemzők
Name[is]=SID upplýsingar
Name[it]=Informazioni SID
Name[ja]=SID 情報
Name[kk]=SID мәліметі
Name[km]=ព័ត៌មាន SID
Name[ko]=SID 정보
Name[ku]=Agahiya SID
Name[lt]=SID Informacija
Name[lv]=SID informācija
Name[mk]=SID информации
Name[nb]=SID-info
Name[nds]=SID-Info
Name[ne]=एसआईडी सूचना
Name[nl]=SID-informatie
Name[nn]=SID-info
Name[pa]=SID ਜਾਣਕਾਰੀ
Name[pl]=Informacja CD
Name[pt]=Informação do SID
Name[pt_BR]=Informações SID
Name[ro]=Informații SID
Name[ru]=Сведения о SID
Name[sk]=SID info
Name[sl]=Podatki o SID
Name[sq]=SID Info
Name[sr]=Подаци о СИД‑у
Name[sr@ijekavian]=Подаци о СИД‑у
Name[sr@ijekavianlatin]=Podaci o SID‑u
Name[sr@latin]=Podaci o SID‑u
Name[sv]=SID-information
Name[ta]=SID தகவல்
Name[tg]=SID Ахборот
Name[th]=ข้อมูล SID
Name[tr]=SID Bilgisi
Name[uk]=Інформація по SID
Name[wa]=Informåcions SID
Name[x-test]=xxSID Infoxx
Name[zh_CN]=SID 信息
Name[zh_HK]=SID 資訊
Name[zh_TW]=SID 資訊
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_sid
MimeType=audio/prs.sid;
PreferredGroups=General,Technical
PreferredItems=Title,Artist,Copyright,Number of Songs,Start Song,Version
