[Desktop Entry]
Type=Service
Name=OGG Info
Name[af]=Ogg Inligting
Name[ar]=معلومات OGG
Name[ast]=Información d'OGG
Name[bg]=Информация за OGG
Name[bn]=অগ তথ্য
Name[br]=Titouroù OGG
Name[bs]=Podaci o OGG‑u
Name[ca]=Informació OGG
Name[ca@valencia]=Informació OGG
Name[cs]=OGG info
Name[cy]=Gwybodaeth OGG
Name[da]=OGG-info
Name[de]=OGG-Info
Name[el]=Πληροφορίες OGG
Name[en_GB]=OGG Info
Name[eo]=OGG informo
Name[es]=Información de OGG
Name[et]=OGG info
Name[eu]=OGG informazioa
Name[fa]=اطلاعات OGG
Name[fi]=OGG-tiedot
Name[fr]=Informations Ogg Vorbis
Name[ga]=OGG Info
Name[gl]=Información OGG
Name[he]=מידע OGG
Name[hi]=ऑग जानकारी
Name[hne]=ओग जानकारी
Name[hr]=OGG Info
Name[hu]=OGG-jellemzők
Name[is]=OGG upplýsingar
Name[it]=Informazioni OGG
Name[ja]=OGG 情報
Name[kk]=OGG мәліметі
Name[km]=ព័ត៌មាន OGG
Name[ko]=OGG 정보
Name[ku]=Agahiya OGG
Name[lt]=OGG informacija
Name[lv]=OGG informācija
Name[mk]=OGG информации
Name[ms]=OGG Info
Name[nb]=OGG informasjon
Name[nds]=Ogg-Info
Name[ne]=अग सूचना
Name[nl]=OGG-informatie
Name[nn]=OGG-info
Name[pa]=OGG ਜਾਣਕਾਰੀ
Name[pl]=Informacja o pliku OGG
Name[pt]=Informação do OGG
Name[pt_BR]=Informações OGG
Name[ro]=Informații OGG
Name[ru]=Сведения об OGG
Name[se]=OGG-dieđut
Name[sk]=OGG info
Name[sl]=Podatki o OGG
Name[sq]=OGG Info
Name[sr]=Подаци о ОГГ‑у
Name[sr@ijekavian]=Подаци о ОГГ‑у
Name[sr@ijekavianlatin]=Podaci o OGG‑u
Name[sr@latin]=Podaci o OGG‑u
Name[sv]=Ogg-information
Name[ta]=OGG தகவல்
Name[tg]=OGG Ахборот
Name[th]=ข้อมูล OGG
Name[tr]=OGG Bilgisi
Name[ug]=OGG ئۇچۇرى
Name[uk]=Інформація по OGG
Name[uz]=OGG haqida maʼlumot
Name[uz@cyrillic]=OGG ҳақида маълумот
Name[wa]=Informåcion OGG
Name[x-test]=xxOGG Infoxx
Name[xh]=OGG Ulwazi
Name[zh_CN]=OGG 信息
Name[zh_HK]=OGG 資訊
Name[zh_TW]=OGG 資訊
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_ogg
MimeType=audio/x-vorbis+ogg;
PreferredGroups=Comment,Technical
PreferredItems=Title,Artist,Album,Tracknumber,Genre,Bitrate,Length,Date,Description,Organization,Channels,UpperBitrate,LowerBitrate,NominalBitrate,Location,Copyright,Version
