[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=OGG Info
Name[af]=ogg inligting
Name[ar]=معلومات OGG
Name[be]=Інфармацыя аб OGG
Name[bg]=OGG Информация
Name[cs]=3GG info
Name[da]=OGG-info
Name[de]=OGG-Info
Name[el]=Πληροφορίες OGG
Name[eo]=OGG-informo
Name[es]=Info OGG
Name[et]=OGG info
Name[fi]=OGG tiedot
Name[fr]=Informations Ogg Vorbis
Name[he]=מידע OGG
Name[hu]=OGG-jellemzők
Name[it]=Informazioni OGG
Name[ja]=OCG情報
Name[lt]=OGG informacija
Name[nn]=OGG-info
Name[pt]=Informação do OGG
Name[pt_BR]=Informação sobre OGG
Name[ro]=Informaţii OGG
Name[sl]=OGG informacije
Name[sv]=Ogg-information
Name[xh]=OGG Ulwazi
Name[xx]=xx
Name[zu]=Ulwazi lwe OGG
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_ogg
MimeType=application/x-ogg
PreferredItems=Title,Artist,Album,Tracknumber,Genre,Bitrate,Length,Date,Description,Organization,Channels,Bitrate upper, Bitrate lower, Bitrate nominal,Location,Copyright,Version
