[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=OGG Info
Name[af]=Ogg Inligting
Name[ar]=معلومات OGG
Name[bg]=OGG Информация
Name[ca]=Informació OGG
Name[cs]=OGG info
Name[da]=OGG-info
Name[de]=OGG-Info
Name[el]=Πληροφορίες OGG
Name[eo]=OGG-informo
Name[es]=Info OGG
Name[et]=OGG info
Name[fi]=OGG tiedot
Name[fr]=Informations Ogg Vorbis
Name[he]=מידע OGG
Name[hr]=Informacije o OGG datoteci
Name[hu]=OGG-jellemzők
Name[it]=Informazioni OGG
Name[ja]=OCG情報
Name[lt]=OGG informacija
Name[nn]=OGG-info
Name[pl]=Informacja o pliku OGG
Name[pt]=Informação do OGG
Name[pt_BR]=Informação sobre OGG
Name[ro]=Informaţii OGG
Name[ru]=Информация об OGG
Name[sl]=Informacije o OGG
Name[sv]=Ogg-information
Name[th]=ข้อมูล OGG
Name[tr]=OGG Bilgisi
Name[uk]=Інформація по OGG
Name[xh]=OGG Ulwazi
Name[zh_CN]=OGG 信息
Name[zh_TW]=OGG 資訊
Name[zu]=Ulwazi lwe OGG
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_ogg
MimeType=application/x-ogg
PreferredGroups=Comment,Technical
PreferredItems=Title,Artist,Album,Tracknumber,Genre,Bitrate,Length,Date,Description,Organization,Channels,UpperBitrate,LowerBitrate,NominalBitrate,Location,Copyright,Version
