[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=MPEG Info
Name[bg]=Информация за MPEG
Name[cs]=MPEG info
Name[da]=MPEG-info
Name[de]=MPEG-Info
Name[es]=Info MPEG
Name[et]=MPEG info
Name[fr]=Informations MPEG
Name[ga]=Eolas MPEG
Name[pa]=MPEG ਜਾਣਕਾਰੀ
Name[ru]=Сведения о MPEG
Name[sr]=Информације о MPEG-у
Name[sr@Latn]=Informacije o MPEG-u
Name[sv]=MPEG-information
Name[xx]=xxMPEG Infoxx
Name[zh_CN]=MPEG 信息
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_mpeg
MimeType=video/mpeg
PreferredGrous=Technical
PreferredItems=Length,Resolution,Frame rate,Video codec,Audio codec
