[Desktop Entry]
Type=Service
Name=theora Info
Name[bg]=Информация за theora
Name[bn]=থিওরা তথ্য
Name[br]=Titouroù diwar-benn theora
Name[bs]=theora informacije
Name[ca]=Informació theora
Name[cs]=theora info
Name[de]=Theora-Info
Name[el]=Πληροφορίες theora
Name[eo]=theora-informo
Name[es]=Info Theora
Name[et]=Theora info
Name[eu]=theora informazioa
Name[fa]=اطلاعات theora
Name[fi]=Theoran tiedot
Name[fr]=Informations theora
Name[ga]=Eolas faoi theora
Name[gl]=Información theora
Name[he]=מידע theora
Name[hu]=Theora-jellemzők
Name[is]=theora upplýsingar
Name[it]=Informazioni su theora
Name[ja]=theora 情報
Name[kk]=theora мәліметі
Name[km]=ព័ត៌មាន theora
Name[ko]=theora 정보
Name[lt]=theora Informacija
Name[mk]=theora информации
Name[nb]=theora-info
Name[nds]=Theora-Info
Name[ne]=थिवरा सूचना
Name[nl]=theora-informatie
Name[nn]=theora-info
Name[pa]=theora (ਥੋਰਾ) ਜਾਣਕਾਰੀ
Name[pl]=Informacja o pliku theora
Name[pt]=Informação do theora
Name[pt_BR]=Informação sobre theora
Name[ru]=Сведения о theora
Name[sk]=theora info
Name[sl]=Podatki o Theora
Name[sr]=Информације о theora-и
Name[sr@Latn]=Informacije o theora-i
Name[sv]=Theora-information
Name[ta]= தியோரா தகவல்
Name[th]=ข้อมูล theora
Name[tr]=theora Bilgisi
Name[uk]=Інформація по theora
Name[zh_CN]=theora 信息
Name[zh_HK]=theora 資訊
Name[zh_TW]=theora 資訊
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_theora
# change MimeType here! (example: inode/directory)
MimeType=video/x-theora
# change PreferredGroups here! (example: FolderInfo)
PreferredGroups=
# change PreferredItems here! (example: Items;Size)
PreferredItems=Size,Length
