[Desktop Entry]
Type=Service
Name=theora Info
Name[cs]=theora info
Name[de]=Theora-Info
Name[el]=Πληροφορίες theora
Name[gl]=Información theora
Name[nb]=theora-info
Name[nl]=theora-informatie
Name[nn]=theora-info
Name[pl]=Informacje o theora
Name[pt]=Informação do theora
Name[pt_BR]=Informações theora
Name[sk]=theora info
Name[sv]=Theora-information
Name[uk]=Інформація щодо theora
Name[x-test]=xxtheora Infoxx
Name[zh_CN]=theora 信息
Name[zh_TW]=theora 資訊
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_theora
# change MimeType here! (example: inode/directory)
MimeType=video/x-theora+ogg;
# change PreferredGroups here! (example: FolderInfo)
PreferredGroups=
# change PreferredItems here! (example: Items;Size)
PreferredItems=Size,Length
