[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=theora Info
Name[bg]=Информация за theora
Name[ca]=Informació theora
Name[de]=Theora-Info
Name[es]=Info Theora
Name[et]=Theora info
Name[eu]=theora informazioa
Name[fr]=Informations theora
Name[hu]=Theora-jellemzők
Name[nl]=theora-informatie
Name[pt]=Informação do theora
Name[pt_BR]=Informação do theora
Name[sv]=Theora-information
Name[ta]= தியோரா தகவல்
Name[uk]=Інформація по theora
Name[zh_CN]=theora 信息
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_theora
# change MimeType here! (example: inode/directory)
MimeType=video/x-theora
# change PreferredGroups here! (example: FolderInfo)
PreferredGroups=
# change PreferredItems here! (example: Items;Size)
PreferredItems=Size,Length
