[Desktop Entry]
Type=Service
Name=FLAC Info
Name[ca]=Informació FLAC
Name[cs]=FLAC info
Name[da]=FLAC-info
Name[de]=FLAC-Info
Name[el]=Πληροφορίες FLAC
Name[et]=FLAC-i teave
Name[fi]=FLAC-tiedot
Name[fr]=Informations FLAC
Name[ga]=FLAC Info
Name[gl]=Información FLAC
Name[hu]=FLAC információ
Name[it]=Informazioni FLAC
Name[nb]=FLAC informasjon
Name[nds]=FLAC-Info
Name[nl]=FLAC-informatie
Name[nn]=FLAC-info
Name[pa]=FLAC ਜਾਣਕਾਰੀ
Name[pl]=Informacje o FLAC
Name[pt]=Informação do FLAC
Name[pt_BR]=Informações FLAC
Name[sk]=FLAC info
Name[sr]=Подаци о ФЛАЦ‑у
Name[sr@ijekavian]=Подаци о ФЛАЦ‑у
Name[sr@ijekavianlatin]=Podaci o FLAC‑u
Name[sr@latin]=Podaci o FLAC‑u
Name[sv]=FLAC-information
Name[tr]=FLAC Bilgileri
Name[uk]=Інформація щодо FLAC
Name[x-test]=xxFLAC Infoxx
Name[zh_CN]=FLAC 信息
Name[zh_TW]=FLAC 資訊
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_flac
MimeType=audio/x-flac;audio/x-flac+ogg;
PreferredGroups=Comment,Technical
PreferredItems=Title,Artist,Album,Tracknumber,Genre,Bitrate,Length,Channels, Date,Description,Organization,Location,Copyright
