[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=FLAC Info
Name[el]=Πληροφορίες FLAC
Name[fr]=Informations FLAC
Name[x-test]=xxFLAC Infoxx
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_flac
MimeType=audio/x-flac;audio/x-oggflac
PreferredGroups=Comment,Technical
PreferredItems=Title,Artist,Album,Tracknumber,Genre,Bitrate,Length,Channels, Date,Description,Organization,Location,Copyright
