[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=WAV Info
Name[ar]=معلومات WAV
Name[bg]=WAV Информация
Name[cs]=WAV info
Name[da]=WAV-info
Name[de]=WAV-Info
Name[es]=Info WAV
Name[fr]=Informations Wave
Name[he]=מידע WAV
Name[hu]=WAV-jellemzők
Name[lt]=WAV informacija
Name[pt_BR]=Informação do WAV
Name[pt]=Informação do WAV
Name[ro]=Informaţii WAV
Name[sv]=Wav-information
Name[xh]=MAV Ulwazi
Name[xx]=xx
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_wav
MimeType=audio/x-wav
PreferredItems=Length,Sample Rate,Sample Size,Channels
