[Desktop Entry]
Type=Service
Name=WAV Info
Name[cs]=WAV info
Name[de]=WAV-Info
Name[el]=Πληροφορίες WAV
Name[et]=WAV-i teave
Name[fi]=WAV-tiedot
Name[ga]=WAV Info
Name[gl]=Información WAV
Name[hu]=WAV információ
Name[it]=Informazioni WAV
Name[nb]=WAV informasjon
Name[nds]=WAV-Info
Name[nl]=WAV-informatie
Name[nn]=WAV-info
Name[pa]=WAV ਜਾਣਕਾਰੀ
Name[pl]=Informacje o WAV
Name[pt]=Informação do WAV
Name[pt_BR]=Informações WAV
Name[se]=WAV-dieđut
Name[sk]=WAV info
Name[sv]=Wav-information
Name[uk]=Інформація щодо WAV
Name[x-test]=xxWAV Infoxx
Name[zh_CN]=WAV 信息
Name[zh_TW]=WAV 資訊
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_wav
MimeType=audio/x-wav;
PreferredGrous=Technical
PreferredItems=Length,Sample Rate,Sample Size,Channels
