[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=AVI Info
Name[af]=Avi Inligting
Name[ca]=Informació AVI
Name[cs]=AVI info
Name[da]=AVI-info
Name[de]=AVI-Info
Name[el]=Πληροφορίες AVI
Name[eo]=AVI-informo
Name[es]=Info AVI
Name[et]=AVI info
Name[fi]=AVI-tiedot
Name[fr]=Informations AVI
Name[he]=מידע AVI
Name[hr]=AVI Informacije
Name[hu]=AVI-jellemzők
Name[it]=Informazioni AVI
Name[ja]=AVI 情報
Name[lt]=AVI informacija
Name[nl]=AVI-info
Name[nn]=AVI-info
Name[pl]=Informacja o pliku AVI
Name[pt]=Informação do AVI
Name[pt_BR]=Informação sobre AVI
Name[ru]=Информация об AVI
Name[sk]=AVI info
Name[sl]=Informacije o AVI
Name[sv]=Avi-information
Name[tr]=AVI Bilgisi
Name[uk]=Інформація по AVI
Name[xh]=Ulwazi lwe AVI
Name[zh_CN]=AVI 信息
Name[zh_TW]=AVI 資訊
Name[zu]=Ulwazi lwe-AVI
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_avi
MimeType=video/x-msvideo
PreferredGrous=Technical
PreferredItems=Length,Resolution,Frame rate,Video codec,Audio codec
