[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=AVI Info
Name[fr]=Informations AVI
Name[x-test]=xxAVI Infoxx
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_avi
MimeType=video/x-msvideo
PreferredGrous=Technical
PreferredItems=Length,Resolution,Frame rate,Video codec,Audio codec
