[Desktop Entry]
Type=Service
Name=M3U Playlist Info
Name[af]=M3u Liedjielys Inligting
Name[ar]=معلومات قوائم M3U
Name[az]=MP3 Mahnı Siyahısı İnfosu
Name[bg]=Информация за списък M3U
Name[bn]=এম-৩-ইউ (M3U)  সঙ্গীত-তালিকা তথ্য
Name[br]=Titouroù Rollc'hoari MP3
Name[bs]=M3U Playlist informacije
Name[ca]=Informació de selecció de peces M3U
Name[cs]=Informace o seznamu skladeb M3U
Name[cy]=Gwybodaeth Rhestr Chwarae M3U
Name[da]=M3U-spillelisteinfo
Name[de]=M3U-Wiedergabelisten-Info
Name[el]=Πληροφορίες λίστας αναπαραγωγής M3U
Name[eo]=M3U-ludlistinformo
Name[es]=Información de lista de reproducción M3U
Name[et]=M3U esitusnimekirja info
Name[eu]=M3U erreprodukzio-zerrenda informazioa
Name[fa]=اطلاعات فهرست پخش M3U
Name[fi]=M3U-soittolistan tiedot
Name[fr]=Informations sur une liste de lecture M3U
Name[ga]=Eolas Seinmliosta M3U
Name[gl]=Información de Lista M3U
Name[he]=מידע על רשימות ניגון של M3U
Name[hi]=M3U गीत-सूची जानकारी
Name[hr]=Informacije o M3U listi pjesama
Name[hu]=Az M3U lejátszási lista jellemzői
Name[is]=M3U lagalistaupplýsingar
Name[it]=Informazioni playlist M3U
Name[ja]=M3U プレイリスト情報
Name[kk]=M3U орындау тізім мәліметі
Name[km]=ព័ត៌មាន​បញ្ជី​ចាក់ M3U
Name[ko]=M3U 재생목록 정보
Name[lt]=M3U gaidaraščio informacija
Name[lv]=M3U Plejlistu Info
Name[mk]=Информации за M3U листа со нумери
Name[nb]=M3U spilleliste informasjon
Name[nds]=M3U-Weddergaavlist-Info
Name[ne]=M3U बजाउने सूची सूचना
Name[nl]=M3U Speellijst-informatie
Name[nn]=M3U-spelelisteinfo
Name[pa]=M3U ਸੰਗੀਤ-ਸੂਚੀ ਜਾਣਕਾਰੀ
Name[pl]=Informacja o liście nagrań w M3U
Name[pt]=Informação da Lista de Músicas M3U
Name[pt_BR]=Informações de listas de reprodução M3U
Name[ro]=Informaţii listă M3U
Name[ru]=Сведения о списке песен M3U
Name[se]=M3U-čuojahanlistodieđut
Name[sk]=Informácie o playliste M3U
Name[sl]=Podatki o predvajalnem seznamu M3U
Name[sr]=Информације о M3U листи нумера
Name[sr@Latn]=Informacije o M3U listi numera
Name[sv]=Information om M3U-spellista
Name[ta]=M3U பாடல்பட்டியல் தகவல்
Name[tg]=M3U Ахбороти Рӯйхати бозикуниҳо
Name[th]=ข้อมูลรายการเพลง M3U
Name[tr]=M3U Çalma Listesi Bilgisi
Name[uk]=Інформація списку композицій M3U
Name[ven]=Mavhungo a mutevhe wa tshitambi tsha M3U
Name[xh]=M3U Ulwazi Loluhlu Lokudlala
Name[zh_CN]=M3U 播放列表信息
Name[zh_HK]=M3U 播放清單資訊
Name[zh_TW]=M3U 播放清單資訊
Name[zu]=Ulwazi Lohlu lokudlala lwe-M3U
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_m3u
MimeType=audio/x-mpegurl
PreferredGroups=Tracks
PreferredItems=
